
<section class="columns is-gapless">
  <section class="column is-one-fifth">
    <app-sidebar (tableSelectionChange)="onTableSelectionChange($event)"></app-sidebar>
  </section>
  <section class="column">
    <div class="box">
      <app-topbar  (filterChanged)="onFilterChanged($event)" [table]="table"></app-topbar>
    </div>
    <div class="box">
      <ng-container [ngSwitch]="table">
        <app-users-table *ngSwitchCase="'Usuarios'" [state]="state"  ></app-users-table>
        <app-documents-table *ngSwitchCase="'Documentos'"></app-documents-table>
        <div *ngSwitchDefault>Seleccione una tabla para visualizar</div>
      </ng-container>
    </div>
  </section>
</section>