
<section class="columns is-gapless">
  <section class="column is-one-fifth">
    <app-sidebar (tableSelectionChange)="onTableSelectionChange($event)"></app-sidebar>
  </section>
  <section class="column">
    <section class="box">
      <app-topbar  (filterChanged)="onFilterChanged($event)" [table]="table"></app-topbar>
    </section>
    <section class="box">
      <ng-container [ngSwitch]="table">
        <app-users-table *ngSwitchCase="'Usuarios'" [state]="state"  ></app-users-table>
        <app-documents-table *ngSwitchCase="'Documentos'" [state]="state"></app-documents-table>
        <section *ngSwitchDefault>Seleccione una tabla para visualizar</section>
      </ng-container>
    </section>
  </section>
</section>