<section class="menu">
  <br>
  <section class="menu-label" style="text-align: center; margin-bottom: 1rem;">
    <section style="display: flex; justify-content: center; align-items: center; gap: 3rem;">
      <a class="fas fa-cog fa-3x" href=""></a>
      <a class="fas fa-user fa-3x" href=""></a>
    </section>
  </section>
  <hr>
  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <li><a>Personalizar panel</a></li>
    <li><a>Historial</a></li>
  </ul>
  <p class="menu-label">
    Tablas
  </p>
  <ul class="menu-list">
    <li><a>Usuarios</a></li>
    <li><a>Documentos</a></li>
  </ul>
</section>
