<nav class="navbar" role="navigation" aria-label="main navigation">
  <section class="navbar-brand">
    <div class="control has-icons-left">
      <input class="input" type="text" placeholder="Buscar" />
      <span class="icon is-small is-left">
        <i class="fas fa-search"></i>
      </span>
    </div>
  </section>
  <section class="navbar-item">
    <div class="button-container">
      <button class="button is-info" (click)="filterState('Pendiente')">Pendiente</button>
      <button class="button is-success" (click)="filterState('Aprobado')">Aprobados</button>
      <button class="button is-danger" (click)="filterState('Rechazado')">Desaprobados</button>
    </div>
  </section>
</nav>
