<section class="columns is-gapless container-principal">
    <section class="column is-2">
        <section class="container-sidebar">
            <app-sidebar-h></app-sidebar-h>
        </section>
    </section>
    <section class="column is-10 container-nav-table">
      <section class="container-navbar">
        <app-navbar-h></app-navbar-h>
      </section>
      <section class="container-table">
        <app-pagina-principal></app-pagina-principal>
      </section>
    </section>
</section>
