html,
body {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  /* Incluye el borde y el padding dentro de la altura y el ancho */
}

.box {
  padding: 20px;
  /* Relleno interno para la caja */
  width: 100%;
  max-width: 500px;
  /* Ancho máximo de la caja */
}

/* Centrar el título */
.box header {
  display: flex;
  justify-content: center;
}

.boton-container {
  display: flex;
  justify-content: center;
}
.icon-user {
  font-size: 7rem; /* Ajusta este valor según sea necesario */
  margin-top: 1rem; /* Espaciado superior */
  margin-bottom: 1rem; /* Espaciado inferior */
}

.forgot-password , .guest-login  {
  color: rgb(66, 66, 66);
  text-decoration: underline;
  font-weight: bolder ; /* Hace que la letra sea más ancha */
  font-size: 1.0rem; /* Aumenta el tamaño de la fuente */
  padding: 5px 10px; /* Añade espaciado interno */
}

.field.is-grouped{
  display: flex;
  justify-content: space-between;
}



