.navbar{
  width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
  height: 100%; /* Hace que ocupe todo el alto del contenedor */
  display: flex;
  padding: 10px ;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
}

.icons-container{
  display: flex;
  margin-left: auto;
  gap:5px;
}

.icons-container i {
  font-size: 27px; /* Tamaño de los iconos */
  color: #3f3f3f;
  padding: 6px;
  border-radius: 50%; /* Hace que el borde sea circular */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}

.icons-container i:hover {
  background-color: #cec9c9; /* Cambia el color de fondo al pasar el puntero */
}